wp-content/.DS_Store
wp-content/plugins
wp-content/themes/.DS_Store
wp-content/themes/generatepress-child/inc/.DS_Store
.DS_Store
wp-content/themes/generatepress-child/.DS_Store
**/.DS_Store
wp-content/themes/generatepress-child/inc/featherlight-1.7.9/.DS_Store

